h1{
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    background-color: aqua;
    text-decoration: line-through;
}
html{
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    background-color: aqua;
}
.bb{
border: aqua;
background-color: aqua;
cursor:none;
}